<div class="container">
  <h1 class="m-2"><%= @tree.name %></h1>


  <div class="card d-flex flex-row m-2 mt-3" style="width:100%">
    <%= image_tag 'arbre2.jpg', class:"card-img-top", style:"width:40vw" %>
    <div class="card-body">
      <p>Adress: <%= @tree.address %></p>
      <p>Description: <%= @tree.description %></p>
      <p>Price: <%= @tree.price_per_year %></p>
      <p>Quantity: <%= @tree.quantity_by_year %></p>
      <p>Fruits: <%= @tree.fruits %></p>
      <p>Owner-email: <%= @tree.user.email %></p>
        <% if @tree.user_id == current_user.id %>
          <div class="d-flex flex-row gap-4">
            <%= link_to 'Edit this tree', edit_tree_path(@tree), class:"btn btn-primary" %>
            <%= link_to "Delete this tree",
              tree_path(@tree), class:"btn btn-primary",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
            <%= link_to 'Adopt this tree', new_tree_adoption_path(@tree), class:"btn btn-primary" %>
        </div>
        <% else %>
          <%= link_to 'Adopt this tree', new_tree_adoption_path(@tree), class:"btn btn-primary" %>
        <% end %>
    </div>
  </div>

  <%= link_to 'Return to the Trees', root_path(@tree), class:"btn btn-primary" %>
</div>
