<div class="container">
  <%= link_to root_path(@adoption) do %>
    <i class="fa-solid fa-circle-arrow-left"></i>
  <% end %>

  <h1>Your adoptions</h1>

  <ul>
    <% @adoptions.each do |adoption| %>
      <div class= "d-flex justify-content-between" style="width: 30vw">
        <p><%= adoption.starts_at %></p>
        <p><%= adoption.ends_at %></p>
        <p><%= adoption.name.upcase %></p>
        <p><%= adoption.tree_id %></p>
      </div>
    <% end %>
  </ul>

</div>
