<div class="container">
  <%= link_to root_path(@adoption) do %>
    <i class="fa-solid fa-circle-arrow-left"></i>
  <% end %>

  <h1>Your adoptions</h1>

  <ul>
    <% @adoptions.each do |adoption| %>
      <div class= "card d-flex flex-row m-2 mt-3" style="width: 100%">
        <%= image_tag 'arbre2.jpg', style:"width: 30%" %>
        <div class="d-flex flex-column m-2">
          <p><%= @trees.find(adoption.tree_id).name %></p>
          <p>Begins the: <%= adoption.starts_at %></p>
          <p>Ends the: <%= adoption.ends_at %></p>
          <p><%= adoption.name.upcase %></p>
          <p><%= @users.find(adoption.user_id).email %></p>
        </div>
      </div>
    <% end %>
  </ul>

</div>
